<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="v" default="0.2"/>
    <arg name="w" default="0"/>
    <arg name="d" default="40"/>
    <param name="v" value="$(arg v)"/>
    <param name="w" value="$(arg w)"/>
    <param name="d" value="$(arg d)"/>
    <node pkg="rubot_control" type="move_gopigo_distance.py" name="rubot_control" output="screen" />
</launch>